version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: ganges-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ganges
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: ganges-redis
    restart: always
    ports:
      - '6379:6379'

volumes:
  postgres_data:
